* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.kontejner {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#slajder {
  height: 8px;
  background: linear-gradient(to right, #3a0ca3, #d00000, #f7b801);
  background-size: 400% 400%;
  animation: animirajPozadinu 3s infinite ease-in-out;
  width: 0%;
  max-width: 100%;
}

#izbornik {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  height: 90%;
}

#stavke {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

#darkButton {
  width: 40px;
  transition: 0.7s;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  user-select: none;
}

#darkButton:hover {
  width: 100px;
}

#mjesec {
  cursor: pointer;
  width: 50px;
  font-size: 20px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  background-color: rgb(62, 58, 58);
  border: 1px solid white;
  margin-right: 5px;
  user-select: none;
}

#mjesec:hover {
  background-color: rgb(42, 38, 38);
  transition: 0.7s;
}

#slikica {
  height: 40px;
  width: 40px;
}

#izbornik a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  user-select: none;
  border-radius: 10px;
  transition: 0.3s;
}

#izbornik a:first-child {
  margin-left: 0;
}

#stavke a:hover {
  background-color: rgba(240, 248, 255, 0.218);
}

#logo {
  font-size: 40px;
  font-family: sans-serif;
  margin-left: 20px;
  user-select: none;
  font-family: "Chakra Petch", sans-serif;
}

#zakljucak,
p,
h1,
a,
h3 {
  font-family: "Chakra Petch", sans-serif;
}

#pozadinskaSlika {
  width: 100%;
  height: 100vh;
  background-image: url(./pocetnaPozadina.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#kontentSlike {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

#naslovNaSlici {
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.547);
  border-radius: 30px;
  border: 3px solid;
  padding: 10px;
  user-select: none;
  background: linear-gradient(to right, #3a0ca3, #d00000, #f7b801);
  background-size: 400% 400%;
  animation: animirajPozadinu 10s infinite ease-in-out;
  font-family: "Chakra Petch", sans-serif;
}

#dugmeZaPlanete {
  width: 300px;
  height: 100px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  background: linear-gradient(to right, #3a0ca3, #d00000, #f7b801);
  background-size: 400% 400%;
  animation: animirajPozadinu 5s infinite ease-in-out;
}

#dugmeZaPlanete:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

a {
  color: white;
  text-decoration: none;
}

#uvodniDio {
  height: 900px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

#Univerzum {
  margin-bottom: 50px;
}

#tekstualni {
  width: 90%;
  text-align: center;
}

#tekstUvod {
  width: 50%;
  text-align: center;
}

#uSlika {
  height: 450px;
  width: 700px;
}

#glavniDio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 50px;
  color: white;
  background-color: black;
}

#kontSekcija {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
  flex-wrap: wrap;
  min-width: 300px;
}

.section {
  background: linear-gradient(to right, #3a0ca3, #d00000, #f7b801);
  background-size: 400% 400%;
  animation: animirajPozadinu 15s infinite ease-in-out;
  height: 800px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border: 4px solid white;
  border-radius: 30px;
  margin-top: 30px;
}

hr {
  width: 100%;
  height: 3px;
  background-color: #f7b801;
  margin-bottom: 15px;
}

.letjelica {
  height: 200px;
  width: 200px;
  display: flex;
}

.l1 {
  background: url(./hubble.jpg);
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.l2 {
  background: url(./voyager.jpg);
  background-size: cover;
  background-position: right;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.l3 {
  background: url(./Apollo.jpg);
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

#zakljucak {
  margin-top: 30px;
  text-align: center;
}

#zavrsniDio {
  height: 600px;
  background-color: black;
  background: url(./svemirSlika.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.7s;
}

#footer {
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#kreator {
  margin-top: 30px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ikona {
  margin-left: 10px;
  margin-right: 10px;
  animation: talas 5s ease-in-out infinite;
  cursor: pointer;
}

.fejsbuk {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(./fejsbuk.png);
  background-size: cover;
  background-position: center;
  animation-delay: 1s;
}

.instagram {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(./instagram.png);
  background-size: cover;
  background-position: center;
  animation-delay: 2s;
}

.jutub {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(./jutub.png);
  background-size: cover;
  background-position: center;
  animation-delay: 3s;
}

.vacap {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(./vacap.png);
  background-size: cover;
  background-position: center;
  animation-delay: 4s;
}

.tviter {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(./tviter.png);
  background-size: cover;
  background-position: center;
  animation-delay: 5s;
}

@keyframes talas {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animirajPozadinu {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@media only screen and (max-width: 1000px) {
  #izbornik {
    display: flex;
    flex-direction: column;
    color: white;
  }

  .kontejner {
    height: 280px;
    width: 100%;
  }

  #pozadinskaSlika {
    width: 100%;
  }

  #tekstUvod {
    width: 100%;
  }

  p {
    width: 300px;
  }

  #stavke {
    width: fit-content;
  }

  #izbornik a {
    margin-left: 0px;
    font-size: 12px;
    border-bottom: 2px solid white;
  }

  #stavke a:hover {
    background-color: unset;
  }

  #stavke {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #naslovNaSlici {
    font-size: 40px;
  }

  #dugmeZaPlanete {
    width: 200px;
    height: 100px;
  }

  #uSlika {
    height: 200px;
    width: 350px;
  }

  #tekstUvod {
    width: 450px;
    text-align: center;
  }

  .kontejner {
    position: unset;
  }

  #slajder {
    max-width: 0%;
  }

  #darkButton {
    width: 100px;
    margin: auto;
    margin-top: 10px;
  }
}
